ion-item {

    --highlight-height: 1px;
    --highlight-color-focused: #43e7f3;
    --highlight-color-valid: #4077db;
    --highlight-color-invalid: #ff4646;
  }

  ion-input {
    --highlight-height: 1px;
    --highlight-color-focused: #43e7f3;
    --highlight-color-valid: #4077db;
    --highlight-color-invalid: #ff4646;
  }