<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out">Logout</ion-icon>
      </ion-button>
      <ion-button (click)="goProfile()">Perfil</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list-custom animate__animated animate__fadeIn" lines="full" *ngIf="content_loaded">
    <ion-card *ngFor="let auction of auctions">
        <div class="title">
          <ion-row>
            <ion-text><b>{{auction.name}}</b></ion-text>
          </ion-row>
          <ion-text> <sub>Monica Boulevard, LA. {{auction.country}}</sub></ion-text>
        </div>
          <img  alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          
          
          <div class="subtitle">
            <ion-row >
              <b>APARTMENT</b>
            </ion-row>
              <ion-icon class="person" name="person"></ion-icon> 3
              <ion-icon name="moon"></ion-icon> 2                           
          </div>
          <div class="sprice">
           {{ auction.fprice }} €
           {{auction.user_id_won}}
          </div>
        
        <div class="card-footer">
          <ion-item >
            <ion-text>Haz tu puja:   </ion-text>
            <ion-input [(ngModel)]="valorPuja" type="number" placeholder="{{auction.fprice+1}}" fill="outline" width="40px" 
                > </ion-input> 
            <ion-button [disabled]="valorPuja<auction.sprice"  size="small" (click)="makeAuction(valorPuja, auction)">Puja</ion-button>
          </ion-item>
        </div>  
       
    </ion-card>
  </ion-list> 
</ion-content>
